<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1>Welcome to Music Playlist application</h1>
	
	<span th:text = "${LoginAfter}"> </span>
	<form method= "post" action="/MusicPlaylist/SubmitLogin">
		<label>Username <input name = "username" type="text" required></label><br>
		<label>Password <input name = "password" type = "password" required></label><br>
		
		<input name = "login" type = "submit">
	</form>
	
	<br> <a href= "/MusicPlaylist/Templates/Register.html">Are you still not registered? Do it now</a>

	
</body>
</html>
