<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ErrorPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="../../css/global.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/errorpage.css}" href="../../css/errorpage.css"/>

</head>
<body>
    <div class = "formBox">
        <h1>ERROR PAGE</h1>
	
        <p class = "errorMessage" th:text=" ${error}">You are trying to access wrong information</p>
        

        <a th:if = "${session.user != null}" th:href="@{/GetHomePage}">Home Page</a>
        <a th:if = "${session.user != null}" th:href="@{/Logout}">Logout</a>
        
        <a th:if = "${session.user == null}" th:href="@{/SubmitLogin}">Login Page</a>

    </div>
	
</body>
</html>
