<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1>Welcome to Music Playlist application</h1>
	
	<p style="color:red" th:text=" ${logout}">logout succesfully</p>
	
	<form method= "post" th:action="@{/SubmitLogin}">
		<label>Username <input name = "username" type="text" required></label><br>
		<label>Password <input name = "password" type = "password" required></label><br>
		
		<input name = "login" type = "submit">
	</form>
	
	<br> <a th:href="@{/SubmitRegistration}">Are you still not registered? Do it now</a>

	
</body>
</html>
