<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Player</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<span th:text = ${song.title}> Title song </span><br>
	<span th:text = ${album.title}> Album </span><br>
	<span th:text = ${album.interpreter}> Interpreter</span><br>
	<span th:text = ${album.year}> Year</span><br>
	<span th:text = ${album.genre}> Genre</span><br>
	<img  th:src="'ShowFile/image_' + ${album.imageUrl}" th:alt="${album.imageUrl}" width="150" height="100">
	<br>
	<audio controls>
  		<source th:src="'ShowFile/audio_' + ${song.songUrl}" type="audio/ogg">
  	</audio><br> 
	<a th:href= "@{/GetPlaylist(idPlaylist = ${playlist.id}, currentSlide=${0})}" th:text = "'Return to playlist ' + ${playlist.title}">return to playlist</a>

	
</body>
</html>
