<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="../../css/global.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../css/login.css"/>
</head>
<body>
	<h1>Registration</h1>
	
	<div class="formBox">
		<form method= "post" th:action="@{/SubmitRegistration}">
			<p class= "errorMessage" th:text=" ${registrationWarning}">error registration</p>
			
			<label>Username </label><input name = "username" type="text" required>
			
			<label>Email </label><input name = "email" type="text" required>
			
			<label>Password </label><input name = "password" type = "password" required >
			
			<label>Name </label><input name = "name" type = "text" required>
			
			<label>Surname </label><input name = "surname" type = "text" required>
		
			<input class = "greenBtn" value = "register" type = "submit">
		</form>
		
		<a th:href="@{/SubmitLogin}">Are you already registered? Go back to login page</a>
	</div>
</body>
</html>