div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


div > a{
    display: inline-block;
    position:relative;
    margin: 50px 20px 20px 20px;
}